.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
coverage/
flutter_run.*.log
flutter_*_run.*.log
emulator_*.log
.idea/
*.iml

android/.gradle/
android/local.properties
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Pods/
